// Colors

$black: #1B0A33;
$grey: #474D66;
$light-grey: #D7D9E2;

$orange: #E37051;
$blue: #286991;
$light-blue: #5C99BD;

//Fonts

$big-title: 40px;
$title: 20px;
$text: 14px;

//Layout

$container: 80%; 